.cardSection {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  padding: 0;
  max-width: 1360px;
  margin: 34px 0 171px 0;
  display: flex;
  flex-direction: column;
}

.cardSection__title {
  height: 25px;
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  align-self: flex-start;
}

.cardSection__cardList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
