.confirmationModal {
  display: flex;
  width: 670px;
  height: 280px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}
.confirmationModal__main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.confirmationModal__main-text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  text-align: center;
  margin: 0;
}

.confirmationModal__main-deleteButton {
  border: none;
  margin: 40px 0 24px 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  background: transparent;
  transition: 0.2s ease;
}
.confirmationModal__main-deleteButton:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.confirmationModal__main-cancelButton {
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  background: transparent;
  transition: 0.2s ease;
  margin: 0;
  padding: 0;
}

.confirmationModal__main-cancelButton:hover {
  opacity: 0.6;
  cursor: pointer;
}
